@font-face {
    font-family: 'spaceGrotesk';
    src: url("fonts/SpaceGrotesk-VariableFont_wght.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url("fonts/Raleway-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    overflow: hidden; /* Prevents scrollbars */
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensures the canvas stays in the background */
}

img {
    box-shadow: 5px 5px 10px #6E5084;
    border-radius: 5px;
}

body {
  background-color: #D0B5E5;
  color: #6E5084
}

button {
    background-color: #6E5084;
    color: #D0B5E5;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'spaceGrotesk';
    text-transform: uppercase;
}

h1, h2, h3 {
    font-family: 'spaceGrotesk';
}

p {
    font-family: 'raleway';
}